.Layout nav  {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: rgb(100, 219, 76);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  
  .Layout nav button {
    padding: 0.7rem 1.7rem;
    font-weight: bold;
  }
  
  .Layout nav button:hover {
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
  }
 .grow{
   margin-right: 50px;
  }
  .gameField{
    width: 1500px;
    height: 1000px;
    background-color: black;
    margin: 0 auto;
    border: 2px solid #000;
    
  }
.container-lg {
    background-color: black !important;
}
  